@font-face {
  font-family: "CamptonBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/campton/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/campton-bolddemo-webfont.woff2") format("woff2"), url("../fonts/campton/campton-bolddemo-webfont.woff") format("woff"), url("../fonts/campton/campton-bolddemo-webfont.ttf") format("truetype"), url("../fonts/campton/campton-bolddemo-webfont.svg#CamptonBold") format("svg"); }

@font-face {
  font-family: "CamptonLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/campton/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/campton-lightdemo-webfont.woff2") format("woff2"), url("../fonts/campton/campton-lightdemo-webfont.woff") format("woff"), url("../fonts/campton/campton-lightdemo-webfont.ttf") format("truetype"), url("../fonts/campton/campton-lightdemo-webfont.svg#CamptonLight") format("svg"); }

@font-face {
  font-family: "UbuntuBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-bold-webfont.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-bold-webfont.svg#UbuntuBold") format("svg"); }

@font-face {
  font-family: "UbuntuItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-italic-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-italic-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-italic-webfont.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-italic-webfont.svg#UbuntuItalic") format("svg"); }

.social-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em; }
  .social-icon-wrap .social-icon:hover {
    background: white; }
    .social-icon-wrap .social-icon:hover.fi-social-dribbble {
      color: #ea4c89; }
    .social-icon-wrap .social-icon:hover.fi-social-github {
      color: #171515; }
    .social-icon-wrap .social-icon:hover.fi-social-instagram {
      color: #125688; }
    .social-icon-wrap .social-icon:hover.fi-social-twitter {
      color: #00aced; }
    .social-icon-wrap .social-icon:hover.fi-social-linkedin {
      color: #007bb5; }
  .social-icon-wrap .social-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s; }
    .social-icon-wrap .social-icon:hover:after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    .social-icon-wrap .social-icon:after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      top: -5px;
      left: -5px;
      padding: 5px;
      box-shadow: 0 0 0 2px #fff;
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
      -webkit-transform: scale(0.8);
      -moz-transition: -moz-transform 0.2s, opacity 0.2s;
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transition: transform 0.2s, opacity 0.2s;
      transform: scale(0.8);
      opacity: 0; }
    .social-icon-wrap .social-icon:before {
      speak: none;
      font-size: 20px;
      line-height: 35px;
      display: block;
      -webkit-font-smoothing: antialiased; }

.homepage .button {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 25px 80px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  min-width: 260px; }
  .homepage .button:focus {
    outline: none; }
  .homepage .button:hover {
    background: #007ee5; }
    .homepage .button:hover .fi-arrow-right,
    .homepage .button:hover .fi-mail {
      left: 80%; }
  .homepage .button .fi-arrow-right,
  .homepage .button .fi-mail {
    left: 130%;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.mc-off-canvas-content {
  background-color: transparent; }
  .mc-off-canvas-content .menu-icon {
    margin-top: 14px; }

.homepage .title-bar {
  background: transparent; }

.top-bar.fixed {
  position: fixed;
  width: 100%; }

.projects .menu li > a,
.about .menu li > a {
  color: #000; }

.menu .header-link {
  position: relative;
  padding-bottom: 8px; }
  .menu .header-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #007ee5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  .menu .header-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .menu .header-link:active {
    border-bottom: 3px solid #007ee5; }

body {
  position: relative;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }

.homepage {
  height: 100vh;
  background: #007EE5;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), rgba(0, 0, 0, 0.8) url("../img/background2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.align-vertical-center {
  margin: 0 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  flex-direction: column;
  text-align: center; }
  @media screen and (min-width: 668px) {
    .align-vertical-center {
      margin: 0 auto; } }

.footer {
  font-size: 12px;
  color: #fff;
  padding: 0 1rem; }

.hero-title {
  color: #fff;
  font-family: 'CamptonBold', sans-serif;
  max-width: 700px;
  font-size: 25px;
  margin-bottom: 30px; }
  @media screen and (min-width: 668px) {
    .hero-title {
      font-size: 28px; } }

.logo {
  height: 55px;
  width: 55px;
  float: left; }

.top-bar {
  background: transparent;
  padding: 1rem; }

.description {
  color: #fff;
  font-family: 'UbuntuItalic', sans-serif; }

.about .social-icon-wrap {
  background: #007ee5; }
