@font-face {
  font-family: "CamptonBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/campton/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/campton-bolddemo-webfont.woff2") format("woff2"), url("../fonts/campton/campton-bolddemo-webfont.woff") format("woff"), url("../fonts/campton/campton-bolddemo-webfont.ttf") format("truetype"), url("../fonts/campton/campton-bolddemo-webfont.svg#CamptonBold") format("svg"); }

@font-face {
  font-family: "CamptonLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/campton/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/campton-lightdemo-webfont.woff2") format("woff2"), url("../fonts/campton/campton-lightdemo-webfont.woff") format("woff"), url("../fonts/campton/campton-lightdemo-webfont.ttf") format("truetype"), url("../fonts/campton/campton-lightdemo-webfont.svg#CamptonLight") format("svg"); }

@font-face {
  font-family: "UbuntuBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-bold-webfont.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-bold-webfont.svg#UbuntuBold") format("svg"); }

@font-face {
  font-family: "UbuntuItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu/ubuntu-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-italic-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-italic-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-italic-webfont.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-italic-webfont.svg#UbuntuItalic") format("svg"); }

@font-face {
  font-family: "VollkornRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/vollkorn/vollkorn-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vollkorn/vollkorn-regular-webfont.woff2") format("woff2"), url("../fonts/vollkorn/vollkorn-regular-webfont.woff") format("woff"), url("../fonts/vollkorn/vollkorn-regular-webfont.ttf") format("truetype"), url("../fonts/vollkorn/vollkorn-regular-webfont.svg#VollkornRegular") format("svg"); }

.button {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 25px 45px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  max-width: 260px; }
  .button:focus {
    outline: none; }
  .button:hover {
    background: #007ee5; }
    .button:hover .fi-arrow-right,
    .button:hover .fi-mail {
      left: 80%; }
  .button .fi-arrow-right,
  .button .fi-mail {
    left: 130%;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

.projects .button {
  margin: 15px auto; }

.projects .panel {
  color: #fff; }

.projects .climbable-panel {
  background: #07131f;
  max-height: 620px;
  height: auto; }

.projects .climbable-panel.content-panel {
  height: auto !important; }
  @media screen and (min-width: 665px) {
    .projects .climbable-panel.content-panel {
      height: 566px !important; } }

.projects .thumbnail {
  border: none;
  box-shadow: none;
  max-height: 550px; }

.projects .img-panel {
  text-align: center; }

.projects h1 {
  font-family: 'CamptonBold', sans-serif; }

.projects .sketch-panel {
  background: #df84a6; }

.projects .radio-app-panel {
  background: #f6f6f6;
  color: #333; }

.projects .project-description {
  margin: 30px;
  text-align: center; }
