@include font-face('CamptonBold', '../fonts/campton/campton-bolddemo-webfont');
@include font-face('CamptonLight', '../fonts/campton/campton-lightdemo-webfont');
@include font-face('UbuntuBold', '../fonts/ubuntu/ubuntu-bold-webfont');
@include font-face('UbuntuItalic', '../fonts/ubuntu/ubuntu-italic-webfont');
// @include font-face('GeomanistItalic', '../fonts/geomanist/geomanist-regular-italic-webfont');
// @include font-face('Galano', '../fonts/galano/galano-webfont');
// @include font-face('GalanoBold', '../fonts/galano/galano-bold-webfont');

@mixin camptonBold() {
    font-family: 'CamptonBold', sans-serif;
}

@mixin camptonLight() {
    font-family: 'CamptonLight', sans-serif;
}

@mixin ubuntuBold() {
    font-family: 'UbuntuBold', sans-serif;
}

@mixin ubuntuItalic() {
    font-family: 'UbuntuItalic', sans-serif;
}
