.mc-off-canvas-content {
  background-color: transparent;

  .menu-icon {
    margin-top: 14px;
  }
}

.homepage {
  .title-bar {
      background:transparent;
  }
}

.projects,
.about {
    .menu {
        li > a {
            color: #000;
        }
    }
}

.menu {
    li > a {
        &:hover,
        &:active {
            border-bottom: 3px solid #007ee5;
        }
    }
}

// .fixed {
//     z-index: 1;
// }

// .menu-container {
//     float: right;
//     color: #fff;
//     font-size: 20px;
//     margin-top: 8px;
// }

// .overlay {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background: rgba(33, 153, 232, 0.9);
//     opacity: 0;
//     visibility: hidden;
//     -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
//     transition: opacity 0.5s, visibility 0s 0.5s;

//     &.open {
//         opacity: 1;
//         visibility: visible;
//         .align-vertical-center {
//             opacity: 0.1;
//         }
//     }

//     &.closed {
//         opacity: 0;
//         visibility: hidden;
//     }

//     .menu-list {
//         background: transparent;
//         text-align: center;

//         li > a {
//             color: #fff;
//             font-size: 40px;
//             @include ubuntuBold;
//         }
//     }

//     .close-icon {
//         position: absolute;
//         height: 35px;
//         width: 35px;
//         margin: 17px;
//         top: 9px;
//         right: 0;
//     }

//     .menu-nav {
//         position: relative;
//         top: 50%;
//         height: 60%;
//         -webkit-transform: translateY(-50%);
//         transform: translateY(-50%);
//         text-align: center;
//     }
// }

// .overlay {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background: rgba(153,204,51,0.9);
// }

// /* Overlay closing cross */
// .overlay .overlay-close {
//     width: 80px;
//     height: 80px;
//     position: absolute;
//     right: 20px;
//     top: 20px;
//     overflow: hidden;
//     border: none;
//     background: url(../img/cross.png) no-repeat center center;
//     text-indent: 200%;
//     color: transparent;
//     outline: none;
//     z-index: 100;
// }

// /* Menu style */
// .overlay nav {
//     text-align: center;
//     position: relative;
//     top: 50%;
//     height: 60%;
//     font-size: 54px;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
// }

// .overlay ul {
//     list-style: none;
//     padding: 0;
//     margin: 0 auto;
//     display: inline-block;
//     height: 100%;
//     position: relative;
// }

// .overlay ul li {
//     display: block;
//     height: 20%;
//     height: calc(100% / 5);
//     min-height: 54px;
// }

// .overlay ul li a {
//     font-weight: 300;
//     display: block;
//     color: #fff;
//     -webkit-transition: color 0.2s;
//     transition: color 0.2s;
// }

// .overlay ul li a:hover,
// .overlay ul li a:focus {
//     color: #e3fcb1;
// }

// /* Effects */
// .overlay-hugeinc {
//     opacity: 0;
//     visibility: hidden;
//     -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
//     transition: opacity 0.5s, visibility 0s 0.5s;
// }

// .overlay-hugeinc.open {
//     opacity: 1;
//     visibility: visible;
//     -webkit-transition: opacity 0.5s;
//     transition: opacity 0.5s;
// }

// .overlay-hugeinc nav {
//     -webkit-perspective: 1200px;
//     perspective: 1200px;
// }

// .overlay-hugeinc nav ul {
//     opacity: 0.4;
//     -webkit-transform: translateY(-25%) rotateX(35deg);
//     transform: translateY(-25%) rotateX(35deg);
//     -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
//     transition: transform 0.5s, opacity 0.5s;
// }

// .overlay-hugeinc.open nav ul {
//     opacity: 1;
//     -webkit-transform: rotateX(0deg);
//     transform: rotateX(0deg);
// }

// .overlay-hugeinc.close nav ul {
//     -webkit-transform: translateY(25%) rotateX(-35deg);
//     transform: translateY(25%) rotateX(-35deg);
// }

// @media screen and (max-height: 30.5em) {
//     .overlay nav {
//         height: 70%;
//         font-size: 34px;
//     }
//     .overlay ul li {
//         min-height: 34px;
//     }
// }
