@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import 'fonts';

.about-me-title {
    @include camptonBold;
}

.about-me-text {
    @include vollkornRegular();
    font-size: 20px;
    color: #666;
    max-width: 460px;

    @media screen and (min-width: 1024px) {
        max-width: 700px;
    }
}

.portfolio-link {
    color: #007EE5;
}

.about-me-img {
    height: 100%;
    width: 100%;
    max-width: 150px;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
        max-width: 200px;
        margin-right: 10px;
    }
}

.about-me-content-container,
.img-container {
    display: inline-block;
}

.about-me-img,
.about-me-content-container {
    vertical-align: top;
}

.img-container {
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
        display: inline-block;
        text-align: left;
    }
}
