$primary-color: #333;
$background-color: rgba(0, 0, 0, 0.8);
$gradient: linear-gradient($background-color, $background-color);
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';
@import 'fonts';
@import 'social-icons';
@import 'foundation-override';
@import 'animation';
@import 'header';

body {
  position: relative;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 2s; /* Firefox < 16 */
          -ms-animation: fadein 2s; /* Internet Explorer */
           -o-animation: fadein 2s; /* Opera < 12.1 */
              animation: fadein 2s;
}

.homepage {
    height: 100vh;
    background: #007EE5;
    background: $gradient, $background-color  url('../img/background2.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.align-vertical-center {
    margin: 0 18px;

    @media screen and (min-width: 668px) {
      margin: 0 auto;
    }

    @include flexbox();
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.footer {
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    text-align: left;

    @media screen and (min-width: 768px) {
      padding-left: 1rem;
    }
}

.hero-title {
    color: #fff;
    @include camptonBold();
    max-width: 700px;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 24px;

    @media screen and (min-width: 668px) {
      font-size: 28px;
    }
}

.logo {
    height: 55px;
    width: 55px;
    float: left;
}

.top-bar {
    background: transparent;
    padding: 1rem;
}


.description {
    color: #fff;
    @include ubuntuItalic();
}

.content-container {
  margin: 87px 5% 0;
  padding-top: 60px;
}

.projects {
  .content-container {
    padding-top: 0;
  }
}
