$primary-color: #333;
$background-color: rgba(0, 126, 229, 0.8);
$gradient: linear-gradient($background-color, $background-color);
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';
@import 'fonts';
@import 'social-icons';
@import 'foundation-override';

body {
    height: 100vh;
    background: #007EE5;
    background: $gradient, $background-color  url('../img/cover-img-portfolio.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.align-vertical-center {
    @include flexbox();
    align-items: center;
    justify-content: center;
    height: 96vh;
    flex-direction: column;
}

.footer {
    font-size: 12px;
    color: #fff;
    padding: 0 1rem;
}

.hero-title {
    color: #fff;
    @include camptonBold();
}

.logo {
    height: 45px;
    widows: 45px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .top-bar {
        background: transparent;
        padding: 1rem;
    }
}

.description {
    color: #fff;
    @include ubuntuItalic();
}
