$primary-color: #333;
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';
@import 'fonts';

body {
    height: 100vh;
    background: #007EE5;
}

.align-vertical-center {
    @include flexbox();
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.hero-title {
    color: #fff;
    @include camptonBold();
}

.logo {
    height: 40px;
    widows: 40px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .top-bar {
        background: transparent;
    }
}
