@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import 'fonts';
@import 'foundation-override';

.projects {
    .panel {
        color: #fff;
    }

    .climbable-container {
        background: #07131f;
    }

    .climbable-panel {
        max-height: 620px;
        height: auto;
    }

    .climbable-panel.content-panel {
        color: #fff;
        margin-left: -1px;
        // height: auto !important;

        @media screen and (min-width: 640px) {
            height: 546px;
            margin-bottom: 0;
        }
    }

    .thumbnail {
        border: none;
        box-shadow: none;
        max-height: 500px;
        margin-top: 30px;
    }

    .img-panel {
        text-align: center;
    }

    h1 {
        @include camptonBold();
    }

    .sketch-panel {
        background: #df84a6;
        color: #fff;

        @media screen and (min-width: 640px) {
            height: 400px;
        }

        @media screen and (min-width: 768px) {
            height: 546px;
        }
    }

    .radio-app-panel {
        background: #f6f6f6;
        color: #333;

        @media screen and (min-width: 640px) {
            height: 546px;
            margin-bottom: 0;
        }
    }

    .project-description {
        margin: 30px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
            margin: 30% 30px 30px;
        }
    }

    .button.radio-app-button {
        border: 2px solid #333;
        color: #333;

        &:hover {
            color: #fff;
            border: 2px solid #007ee5;
        }
    }
}
