@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import 'fonts';
@import 'foundation-override';

.projects {
    .panel {
        color: #fff;
    }

    .climbable-panel {
        background: #07131f;
        max-height: 620px;
        height: auto;
    }

    .climbable-panel.content-panel {
        height: auto !important;

        @media screen and (min-width: 665px) {
            height: 566px !important;
        }
    }

    .thumbnail {
        border: none;
        box-shadow: none;
        max-height: 550px;
    }

    .img-panel {
        text-align: center;
    }

    h1 {
        @include camptonBold();
    }

    .sketch-panel {
        background: #df84a6;
    }

    .radio-app-panel {
        background: #f6f6f6;
        color: #333;
    }

    .project-description {
        margin: 30px;
        text-align: center;
    }
}
