{% extends 'base.twig' %}

{% block theme %}about{% endblock %}
{% block body %}
    <div class="row">
        <div class="content-container">
            <div class="social-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <a class="link" href="https://dribbble.com/mcarrera4" target="_blank">
                    <i class="social-icon fi-social-dribbble"></i>
                </a>
                <a href="https://github.com/mannycarrera4" target="_blank">
                    <i class="social-icon fi-social-github"></i>
                </a>
                <a href="https://www.instagram.com/mannysketches/" target="_blank">
                   <i class="social-icon fi-social-instagram"></i>
                </a>
                <a href="https://twitter.com/mcarrera4" target="_blank">
                    <i class="social-icon fi-social-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/manuelcarreraiv" target="_blank">
                    <i class="social-icon fi-social-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
