<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">

        {% block globalStylesheets %}
            <link rel="stylesheet" href="assets/vendor/foundation-icon-fonts/foundation-icons.css">
            <link rel="stylesheet" href="assets/vendor/foundation-sites/dist/foundation.min.css">
            <link rel="stylesheet" href="assets/css/main.css">
        {% endblock %}

        {% block stylesheet '' %}
    </head>
    <body class="{% block theme %}homepage{% endblock %}">
        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}
        {% block body '' %}

        {% block javascripts %}
            <script data-main="assets/js/config" src="assets/vendor/requirejs/require.js"></script>
        {% endblock %}
    </body>
</html>
