<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <a href="{{ path('home') }}">
            <img class="logo" src="assets/img/logo_carrera.png">
        </a>

        <div id="trigger-overlay" class="menu-container">
            <i class="menu-icon"></i>
        </div>

        <div class="overlay">
            <button type="button" class="overlay-close close-icon">
                <img src="assets/img/cross.png">
            </button>
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
