<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <a href="{{ path('home') }}">
            <img class="logo" src="assets/img/logo_carrera.png">
        </a>
    </nav>
</div>
