{% extends 'base.twig' %}

{% block body %}
    <div class="align-vertical-center">
        <h1 class="hero-title">Manuel Carrera IV is a passionate Junior Front End Developer, Designer, and Urban Sketcher</h1>
        <div>
            <a href="{{ path('projects') }}">
                <button class="button message-button">View Projects</button>
            </a>
            <a href="mailto:manuel.carrera.91@gmail.com?Subject=Hello%20again" target="_top">
                <button class="button email-button">Let's Talk!</button>
            </a>
        </div>
    </div>
{% endblock %}
