{% extends 'base.twig' %}

{% block theme %}homepage{% endblock %}
{% block body %}
    <div class="align-vertical-center">
        <h1 class="hero-title">Manuel Carrera IV</h1>
        <p class="hero-subtext">Front End Developer with a Passion for Design and Sketching</p>
        <div>
            <a href="{{ path('projects') }}">
                <button class="button message-button">View Projects</button>
            </a>
            <a href="mailto:manuel.carrera.91@gmail.com?Subject=Hello%20again" target="_top">
                <button class="button email-button">Let's Talk!</button>
            </a>
        </div>
        {% block footer %}
            {% include 'footer.twig' %}
        {% endblock %}
    </div>
{% endblock %}
