{% extends 'base.twig' %}

{% block body %}
    <div class="align-vertical-center">
        <h1 class="hero-title">Manuel Carrera IV</h1>
        <p class="description">Visual Pixel builder with a passion for urban sketching</p>
        <div class="social-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
            <a class="link" href="https://dribbble.com/mcarrera4" target="_blank">
                <i class="social-icon fi-social-dribbble"></i>
            </a>
            <a href="https://github.com/mannycarrera4" target="_blank">
                <i class="social-icon fi-social-github"></i>
            </a>
            <a href="https://www.instagram.com/mannysketches/" target="_blank">
               <i class="social-icon fi-social-instagram"></i>
            </a>
            <a href="https://twitter.com/mcarrera4" target="_blank">
                <i class="social-icon fi-social-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/manuelcarreraiv" target="_blank">
                <i class="social-icon fi-social-linkedin"></i>
            </a>
        </div>
        <div>
            <a href="{{ path('projects') }}">
                <button class="button message-button">View Projects</button>
            </a>
            <a href="mailto:manuel.carrera.91@gmail.com?Subject=Hello%20again" target="_top">
                <button class="button email-button">Let's Talk!</button>
            </a>
        </div>
    </div>
{% endblock %}
