<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/vendor/foundation-sites/dist/foundation.css">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <img class="logo" src="assets/img/logo_carrera.png">
        <div class="align-vertical-center">
            <h1 class="hero-title">Manny Carrera</h1>
        </div>
        <button>
            <a href="{{ path('about') }}">Learn more</a>
        </button>

        <script type="text/javas" src="assets/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javas" src="assets/vendor/foundation-sites/dist/foundation.min.js"></script>
        <script data-main="assets/js/config" src="assets/vendor/requirejs/require.js"></script>
    </body>
</html>
