{% extends 'base.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/projects.css">
{% endblock %}

{% block theme %}projects{% endblock %}
{% block body %}
    <div class="row">
        <div class="content-container">
            <div class="row climbable-container">
                <div class="medium-6 columns climbable-panel content-panel">
                    <div class="project-description">
                        <h1>Climable</h1>
                        <p>Climable is an app that allows people to locate nearby climbing location</p>
                        <a href="https://github.com/mannycarrera4/climbable" target="_blank">
                            <button class="button">View on Github</button>
                        </a>
                    </div>
                </div>
                <div class="medium-6 columns climbable-panel img-panel">
                    <img class="thumbnail project-img climbable-img" src="assets/img/iphone6-climbable.png">
                </div>
            </div>

            <div class="row" data-equalizer data-equalizer-mq="large-up">
                <div class="medium-6 columns radio-app-panel img-panel">
                    <img class="thumbnail" src="assets/img/radio-app-img.png">
                 </div>
                <div class="medium-6 columns radio-app-panel">
                    <div class="project-description">
                        <h1>Radio 100.1 App</h1>
                        <p>Radio app 100.1 is for a local radio station in the Dominican Republic</p>
                        <a href="https://www.behance.net/gallery/25998697/Radio-App-Design" target="_blank">
                            <button class="button radio-app-button">View on Behance</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" data-equalizer data-equalizer-mq="large-up">
                <div class="medium-6 columns sketch-panel">
                    <div class="project-description">
                        <h1>Urban Sketches</h1>
                        <p>Radio app 100.1 is for a local radio station in the Dominican Republic</p>
                        <a href="https://www.instagram.com/mannysketches/" target="_blank">
                            <button class="button">View on Instagram</button>
                        </a>
                    </div>
                </div>
                <div class="medium-6 columns sketch-panel img-panel">
                    <img class="thumbnail" src="assets/img/note-pad-sketch.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
