{% extends 'base.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/projects.css">
{% endblock %}

{% block theme %}projects{% endblock %}
{% block body %}
    <div class="row">
        <div class="content-container">
            <div class="row" data-equalizer data-equalizer-mq="large-up">
              <div class="medium-6 columns panel climbable-panel" data-equalizer-watch>
                <h1>Climable</h1>
                <p>Climable is an app that allows people to locate nearby climbing location</p>
                <button class="button">View project</button>
              </div>
              <div class="medium-6 columns panel climbable-panel" data-equalizer-watch>
                <img class="thumbnail project-img climbable-img" src="assets/img/iphone6-climbable.png">
              </div>
            </div>

            <div class="row" data-equalizer data-equalizer-mq="large-up">
              <div class="medium-6 columns panel radio-app-panel" data-equalizer-watch>
                <img class="thumbnail" src="assets/img/radio-app-img.png">
              </div>
              <div class="medium-6 columns panel radio-app-panel" data-equalizer-watch>
                <h1>Radio 100.1 App</h1>
                <p>Radio app 100.1 is for a local radio station in the Dominican Republic</p>
                <button class="button">View project</button>
              </div>
            </div>

            <div class="row" data-equalizer data-equalizer-mq="large-up">
              <div class="medium-6 columns panel sketch-panel" data-equalizer-watch>
                <img class="thumbnail" src="assets/img/sketch-pad-6.png">
              </div>
              <div class="medium-6 columns panel sketch-panel" data-equalizer-watch>
                <h1>Urban Sketches</h1>
                <p>Radio app 100.1 is for a local radio station in the Dominican Republic</p>
                <button class="button">View project</button>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
